<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>

    <add key="SMTP_SERVER" value="localhost" />
    <add key="FEEDBACK_REQUEST_FROM_EMAIL" value="website@lambentcorp.com" />

    <!-- PATH INFORMATION -->
	<add key="LOGO_IMAGE_DIRECTORY" value="web/files/images/logos/"/>
	<add key="NAV_IMAGE_DIRECTORY" value="web/files/images/nav/"/>
    <add key="HEADER_IMAGE_DIRECTORY" value="web/files/images/header/"/>
    <add key="MISC_IMAGE_DIRECTORY" value="web/files/images/misc/"/>
    <add key="CONTENT_IMAGE_DIRECTORY" value="web/files/images/content/"/>
    <add key="SCRIPTS_DIRECTORY" value="web/files/scripts/"/>
    <add key="DOCS_DIRECTORY" value="web/files/docs/"/>
    <add key="DELETE_DOCS_DIRECTORY" value="web/files/docs/deleted/"/>
    <add key="SECURE_DOCS_DIRECTORY" value="web/files/secure/docs/"/>
    
    <!-- DOCUMENT CONTENT TYPES -->
    <add key="DOC_TYPE_LIST" value="MSDS,TDS,BULLETIN,OPERATING MANUAL"/>

    <!-- PAGE MODULE TYPES -->
    <add key="PAGE_MODULE_TYPE_LIST" value="SIDE CONTENT,CONTENT,HEADER SIDE CONTENT,PRODUCT GRID,PRODUCT BLURB,NAV ON IMAGE,NAV OFF IMAGE,HEADER IMAGE,HEADER SIDE CONTENT IMAGE,DOCUMENT"/>

    <!-- CMS INSTRUCTIONS -->
    <add key="PAGE_EDIT_PAGE_MODULES_INSTRUCTIONS" value="Instructions"/>

    <!-- Website Search Page -->
    <!-- Possible choices - SIMPLE (default); ADVANCED -->
    <add key="SEARCH_PAGE_DEFAULT_VIEW" value="ADVANCED" />
    <add key="SIMPLE_SEARCH_INSTRUCTIONS" value="Perform a general search against our database to return a list of web pages based on your search criteria." />
    <add key="SIMPLE_SEARCH_KEYWORDS_INSTRUCTIONS" value="Supply a product name or part of a product name to add as part of the search criteria for a product." />
    <add key="ADVANCED_SEARCH_INSTRUCTIONS" value="Search our database for specific product information by using the search filters below. You will have the ability to choose a market, enter a product name or part of a product name, then select attributes for a particular product to refine your search results." />
    <!--     <add key="ADVANCED_SEARCH_ATTRIBUTE_INSTRUCTIONS" value="Select from the list of attributes below to narrow your search. The search for a product will be the result of all combinations of product attributes and the optional product name field. To broaden your search, select fewer product attributes or remove the information from the text field above.[BREAK][BREAK]Specify Product Attributes:[BREAK]" />-->
    <add key="ADVANCED_SEARCH_ATTRIBUTE_INSTRUCTIONS" value="Specify Product Attributes:[BREAK]" />
    <add key="SEARCH_RESULTS_BGCOLOR" value="yellow" />
    <add key="SEARCH_RESULTS_SELECTED_FORECOLOR" value="red" />
    <!-- possible choices - bold/normal-->
    <add key="SEARCH_RESULTS_SELECTED_FONTWEIGHT" value="bold" />
    <!-- total characters on either side of first keyword found; must be numeric -->
    <add key="SEARCH_RESULTS_DESCRIPTION_OFFSET" value="500" />

    <add key="REGISTRATION_INTERESTS_BUID4" value="Marketing Information;Newsletters;Product Samples;Datasheets;Other;" />
    <add key="REQUEST_INFO_CATEGORIES" value="WebsiteRequest@lambentcorp.com|Marketing Information;WebsiteRequest@lambentcorp.com|Technical Support;WebsiteRequest@lambentcorp.com|Products Samples;chood@lambentcorp.com|CABANA Products;WebsiteRequest@lambentcorp.com|Other" />
    <add key="FEEDBACK_CATEGORIES" value="WebsiteFeedback@lambentcorp.com|Technical Support;WebsiteFeedback@lambentcorp.com|Marketing Information;WebsiteFeedback@lambentcorp.com|Products;WebsiteFeedback@lambentcorp.com|Website;chood@lambentcorp.com|CABANA Products;WebsiteFeedback@lambentcorp.com|Trade Show;WebsiteFeedback@lambentcorp.com|Other" />
    <add key="REQUEST_INFO_MESSAGE" value="Please provide us with the following information in order for our customer service representatives to help better serve your specific request." />
    <add key="FEEDBACK_MESSAGE" value="Thank you for taking this opportunity to provide us with your feedback regarding our services or your online experience while visiting our website." />

    <add key="TEMP_USER_PASSWORD" value="!Petroferm[CURRENT_YEAR]" />
  </appSettings>
	<connectionStrings>
        <add name="PetrofermConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\CodeProjects\Petroferm-Website-And-CMS\Petroferm\App_Data\Petroferm_Data.MDF;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
  
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <httpModules>
      <add type="RewriteUrl" name="RewriteURL" />
    </httpModules>
		<compilation debug="true" strict="true" explicit="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="Data"/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Data"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
                <!--<add namespace="System.Configuration.ConfigurationManager" />-->
			</namespaces>
		</pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name="SqlAuthCookie" loginUrl="~/cms/Login.aspx"/>
		</authentication>
		<!-- 
      The configuration allows only authenticated users to access the application. 
      The "?" indicates unauthenticated users and the "*" indicates all users. 
      By denying unauthenticated users, any requests made by unauthenticated users 
      are redirected to the login page. The loginUrl attribute of the <forms> element 
      determines the name of the login page. The default setting of this attribute in 
      the Machine.config.comments file is Login.aspx      
      -->
		<authorization>
			<allow users="*"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<membership defaultProvider="PetrofermDBProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="PetrofermDBProvider" 
                     connectionStringName="PetrofermConnectionString" 
                     type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
                     applicationName="/Petroferm" 
                     enablePasswordRetrieval="false" 
                     enablePasswordReset="true" 
                     requiresQuestionAndAnswer="false" 
                     requiresUniqueEmail="false" 
                     passwordFormat="Hashed" 
                     maxInvalidPasswordAttempts="5" 
                     minRequiredPasswordLength="8" 
                     minRequiredNonalphanumericCharacters="1" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="PetrofermDBRoleProvider">
			<providers>
				<clear/>
				<add connectionStringName="PetrofermConnectionString" 
                     applicationName="/Petroferm" 
                     name="PetrofermDBRoleProvider" 
                     type="System.Web.Security.SqlRoleProvider" />
			</providers>
		</roleManager>
    <!-- To learn more about how to turn on cache notificiations visit the following website: 
        http://www.c-sharpcorner.com/UploadFile/mosessaur/sqlcachedependency01292006135138PM/sqlcachedependency.aspx?ArticleID=3caa7d32-dce0-44dc-8769-77f8448e76bc 

        Perform the following operations from a command line to get the SQL SiteMap to work. Navigate to the 
        "c:\[WinDir]\Microsoft.NET\Framework\[Version]" directory from the command line and follow the steps below:
        
        1. Before we can use SQL Server cache invalidation, we need to enable notifications for the database.
        aspnet_regsql -ed -E -d Petroferm
        
        2. To enable notification support for the URL Rewrite table, run the following:
        aspnet_regsql -et -E -d Petroferm -t tblURLRewrite_LIVE
        
        (Optional: To disable notification support)
        aspnet_regsql -dt -E -d Petroferm -t tblURLRewrite_LIVE
        -->
		<caching>
			<sqlCacheDependency enabled="true" pollTime="5000">
    <databases>
     <clear />
     <add name="Petroferm" 
          connectionStringName="PetrofermConnectionString"
          pollTime="5000" />
    </databases>
   </sqlCacheDependency>
		</caching>

    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
          description="Default SiteMap provider."
          type="System.Web.XmlSiteMapProvider"
          siteMapFile="Web.sitemap"
          securityTrimmingEnabled="true" />
      </providers>
    </siteMap>


  </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
  <location path="cms">
		<system.web>
			<authorization>
        <allow roles="Administrators,Deployer,Approver,Reviewer,Author,Reader" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
